.success-title{width: 100%; text-align: center; font-size: 24px; text-shadow: 2px 2px 6px #000;}

.middle-msg{width: 100%;}
.middle-msg .info{width: 100%; height: 45px; line-height: 45px; text-align: center;}
.middle-msg .info .account-info{font-weight: 700; color: #f00;}
.middle-msg .info .account-info:first-child{margin-right: 20px;}
.middle-msg .info button.send-email{margin-top: 30px; width: 120px; height: 45px; line-height: 45px;
    background-color: rgba(97, 192, 222, .8); border: 1px solid #46b8da; border-radius: 8px; color: #fff; outline: none;}
.middle-msg .info button.send-email:hover{background-color: rgb(97, 192, 222);}





